{% extends 'base.twig' %}

{% block content %}
	<div class=" container rounded-3 border border-2 border-dark my-5 bg-white" style="height:auto;">
		<div>
			<h1 class=" h1">To Do List</h1>
			<div class="d-flex justify-content-end">
			
		<form method="POST">
			<div class="form-check">
					<input class="form-check-input" type="radio" name="status" id="flexRadioDefault1" value="Not Started">
					<label class="form-check-label" for="flexRadioDefault1">
						Not Started
					</label>					
			</div>

			<div class="form-check">
					<input class="form-check-input" type="radio" name="status" id="flexRadioDefault2" value="In progress">
					<label class="form-check-label" for="flexRadioDefault2"> 
					In progress  
					</label>
			</div>
			
			<div class="form-check">
					<input class="form-check-input" type="radio" name="status" id="flexRadioDefault2" value="Done">
					<label class="form-check-label" for="flexRadioDefault2">
						Done
					</label>
			</div>
				<button type="submit" class="btn btn-outline-dark">Submit</button>
		</form>
		</div>

		<a href="/todo_list/public/task/add" class="btn btn-outline-dark">
					Add a new task
		</a>
		</div>
		<hr>
				<ul class=" list-group container" id="task">
					{% for task in tasks %}
						<li class=" my-3 py-3 shadow list-group-item " style="display:flex" id="tasks{{task.id}}">
							<div style="display:contents">
								<div class="col-6">
									<a href="/todo_list/public/task/{{task.id}}">{{task.title}}</a>
								</div>
								<div class="px-2 me-5" >
									<span class="badge text-bg-warning">{{task.status}}</span>
								</div>
								<div class="col-4">
										<a href="/todo_list/public/task/delete/{{task.id}}" class="btn btn-outline-dark">
											Delete
										</a>
										<a href="/todo_list/public/task/update/{{task.id}}" class="btn btn-outline-dark">
											Edit
										</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
	</div>

{% endblock %}
