{% extends 'base.twig' %}

{% block content %}

	<div class="container py-5">
		<div class="my-1">
			<a href="/todo_list/public/task/"></a>
		</div>
		<div class="row rounded bg-white">
			<div class=" col-12">
				<ul class=" list-group container" id="task">

					{% for task in tasks %}
						<li class=" my-3 py-3 shadow list-group-item " style="display:flex" id="tasks{{task.id}}">
							<div class="row" style="display:contents">
								<div class="col-1">
									<input class="" type="checkbox">
								</div>
								<div class="col-6">
									<a href="/todo_list/public/task/{{task.id}}">{{task.title}}</a>
								</div>
								<div class="col-4">
									<button class=" btn btn-dark">
										<a href="/todo_list/public/task/delete/{{task.id}}">
											Delete
										</a>
									</button>
									<button class=" btn btn-dark">
										<a href="/todo_list/public/task/update/{{task.id}}">
											Edit
										</a>
									</button>
								</div>
							</div>
						</li>

					{% endfor %}

				</ul>
			</div>
		</div>
		</div>
{% endblock %}